/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background: rgb(253,29,29);
  background: radial-gradient(circle, rgba(253,29,29,1) 1%, rgba(252,176,69,1) 100%);
}

.p2 {
  background: rgb(29,67,253);
  background: radial-gradient(circle, rgba(29,67,253,1) 0%, rgba(42,46,67,1) 100%);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
